<!-- item-list.component.html -->
<div class="item-list-container">
  <button mat-raised-button color="primary" routerLink="/create">Crear Nuevo Item</button>

  <table mat-table [dataSource]="items" class="mat-elevation-z8">

    <ng-container matColumnDef="itemId">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let item"> {{item.itemId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let item"> {{item.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let item">
        <button mat-button color="accent" [routerLink]="['/edit', item.itemId]">Editar</button>
        <button mat-button color="warn" (click)="deleteItem(item.itemId)">Eliminar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['itemId', 'name', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['itemId', 'name', 'actions'];"></tr>
  </table>

</div>
